@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #ffc84b;
  background-image: url(../img/bg-pattern.png);
  background-size: cover;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* MY STYLE */
/* Home */
.logo {
  display: flex;
  width: 100%;
}

.logo img {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.box {
  background-color: #f1b322;
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  padding: 40px 20px 20px 20px;
  flex-wrap: wrap;
  gap: 30px;
}

.box.hide {
  background-color: rgba(240, 248, 255, 0);
}

.box .sec1 {
  width: 45%;
}

.box .sec1 h1 {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 32px;
  color: white;
  text-align: center;
  margin-top: 20px;
}

.box .sec1 .game-embed iframe {
  margin-top: 15px;
  width: 100%;
  border-radius: 10px;
}

.box .sec1 .con-btn-pdf {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding: 20px 0 0 0;
}

.box .sec1 .btn-pdf1 img,
.box .sec1 .btn-pdf2 img {
  width: 100%;
  margin: auto;
  transition: 0.5s;
}

.box .sec1 .btn-pdf1 img:hover,
.box .sec1 .btn-pdf2 img:hover {
  width: 95%;
}

.box .sec2 {
  width: 45%;
  padding: 0 20px 0 20px;
}

.box .sec2 .txt1 {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: bold;
  color: #c6cfb0;
  text-align: center;
  line-height: 120%;
}

.box .sec2 .txt2 {
  font-family: "Poppins";
  font-size: 22px;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 120%;
}

.box .sec2 .txt2 em {
  font-style: italic;
  font-weight: 600;
}

.box .sec2 img {
  display: block;
  width: 90%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

.btn-pdf {
  width: 70%;
  margin: 20px auto 0;
  transition: 0.5s;
}

.btn-pdf:hover {
  width: 65%;
}

.btn-next {
  width: 100%;
  margin-top: 20px;
  transition: 0.5s;
}

.btn-next:hover {
  width: 105%;
}

.btn-next img {
  width: 200px;
  display: block;
  margin: auto;
}

/* Pages */
.head {
  display: flex;
  justify-content: center;
  width: 100%;
}

.head .ttl1 {
  width: 70%;
  padding: 20px;
}

.head .ttl1 img {
  display: block;
  width: 60%;
  margin: auto;
}

.head.long .ttl1 img {
  display: block;
  width: 20%;
  margin: auto;
}

.head .blank,
.head .btn-home {
  width: 20%;
  padding: 20px;
}

.head .btn-home img {
  width: 50%;
  display: block;
  margin: auto;
}

.btn-menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.btn-menu img {
  width: 300px;
  transition: 0.5s;
}

.btn-menu img:hover {
  width: 320px;
}

.btn-pdf {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-pdf img {
  display: block;
  margin: auto;
  width: 90%;
  transition: 0.5s;
}

.btn-pdf img:hover {
  width: 75%;
}

.page {
  width: 100%;
  display: flex;
  justify-content: center;
}

.page .ss {
  width: 50%;
  background-color: white;
  border-radius: 15px;
  padding: 25px;
}

.page .ss img {
  width: 100%;
}

.page h1 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin: 20px 0;
}

.page a {
  display: block;
  margin-top: 30px;
  width: 80%;
  margin: auto;
}

/* BREAK POINT */
/* HP */
/* Home */
@media only screen and (max-width: 600px) {
  .logo {
    display: flex;
    width: 100%;
  }

  .logo img {
    margin-top: 0;
  }

  .box {
    width: 100%;
    margin-top: 0;
    border-radius: 0;
    padding: 20px 0;
    flex-wrap: wrap;
    gap: 30px;
    background-color: rgba(255, 255, 255, 0);
  }

  .box .sec1 {
    width: 100%;
  }

  .box .sec1 h1 {
    font-size: 18px;
  }

  .box .sec1 .game-embed iframe {
    margin-top: 10px;
  }

  .box .sec1 .con-btn-pdf {
    gap: 5px;
  }

  .box .sec1 .btn-pdf1 img:hover,
  .box .sec1 .btn-pdf2 img:hover {
    width: 95%;
  }

  .box .sec2 {
    width: 100%;
    padding: 5px;
  }

  .box .sec2 .txt1 {
    font-size: 16px;
    line-height: 120%;
  }

  .box .sec2 .txt2 {
    font-size: 15px;
  }

  .box .sec2 img {
    display: block;
    width: 100%;
    margin-top: -20px;
  }

  .btn-next {
    width: 50%;
    margin: 20px auto 0;
  }

  .btn-pdf {
    width: 90%;
    margin-top: 40px;
  }

  /* Pages */
  .head .ttl1 {
    width: fit-content;
    padding: 10px;
  }

  .head.long .ttl1 img {
    display: block;
    width: 100%;
    margin: auto;
  }

  .head .ttl1 img {
    width: 200px;
  }

  .head .blank,
  .head .btn-home {
    width: fit-content;
    padding: 10px;
  }

  .head .btn-home img {
    width: 100px;
  }

  .btn-menu {
    gap: 15px;
  }

  .btn-menu img {
    width: 150px;
  }

  .btn-menu img:hover {
    width: 150px;
  }

  .btn-pdf {
    flex-wrap: wrap;
    gap: 15px;
    padding: 0 20px;
  }

  .btn-pdf.menu {
    width: 90%;
    margin-top: 0;
  }

  .btn-pdf img {
    width: 100%;
  }

  .btn-pdf img:hover {
    width: 100%;
  }

  .page .ss {
    width: 85%;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
  }

  .page .ss img {
    width: 100%;
  }

  .page h1 {
    font-size: 12px;
  }
}
